li {
    color: rgb(124, 21, 21);
    background-color: #c0fca0;
}

#my-darling-tag {
    color: #000;
    background-color: rgb(164, 119, 241);
}

.my-darling-class {
    color: #053d56;
    background-color: rgb(229, 173, 44);
}

li.my-darling-class {
    color: #053d56;
    background-color: rgb(137, 26, 26);
}

#profile-pic {
    width: 400px;
    border-radius: 50%;
}

.bold-text {
    font-weight: bold;
    color: rgb(26, 26, 26);
}

#paragraph-with-border {
    border: 2px dashed rgb(26, 26, 26);
    padding: 10px 60px 30px 0;
    margin: 10px 60px 30px 0;
}

#my-darling-div {
    border: 2px dashed rgb(26, 26, 26);
}

#my-link {
    background-color: rgb(21, 73, 185);
}

#inline-paragraph {
    display: inline;
}

.finished-task {
    text-decoration: line-through;
    color: rgb(93, 93, 93);
}

.unfinished-task {
    color: rgb(0, 0, 0);
}